<nav class="bg-white flex justify-between items-center p-2 border-b-1 border-b-gray-400">

    <section class="flex justify-center items-center fix-outline-border gap-4 border-amber-50">
        <img src="clima.png"  width="60" alt="logo OkClima">
        <h2 class="text-4xl">OkClima</h2>
    </section>
    
    <mat-form-field appearance="fill" class="m-2 mb-[-10px]">
        <mat-label>Ciudad</mat-label>    
        <mat-icon matPrefix>search</mat-icon> 
        <input matInput placeholder="La Serena, Santiago . . .">                
    </mat-form-field>        

</nav>