<section class="rounded-lg bg-card bg-gradient-to-br from-blue-500 to-blue-600 text-white border-0 shadow-xl w-[300px] p-6">

    <section class="flex flex-col gap-2 mb-4">

        <section class=" flex justify-between">
            <span class="text-3xl">Coquimbo </span>

            @defer (when DatosCiudad()?.data?.current?.icon_num) {
                <img [src]="'/weather_icons/weather_icons/set04/big/' + DatosCiudad()?.data?.current?.icon_num + '.png'"
                     [alt]="'Icono clima' + DatosCiudad()?.data?.current?.icon"
                     class="w-18 h-18 inline-block absolute left-[200px]" />
            }            

        </section>
        
        <span>España</span>
        <span class="text-7xl">24° c</span>
        <span>Parcialmente Nublado</span>

    </section>

    <mat-divider/>
    <!-- seccion inferior Card -->
    <section class="flex flex-col text-sm mt-4 gap-4 w-full ml-2"> 
       <!-- Fila Superior -->
        <section class="flex w-full gap-6">
            <span class="flex items-center gap-2 w-1/2 justify-start">
                <section>
                    <mat-icon>water_drop</mat-icon>
                </section>
                <section class="flex flex-col">
                    <span>Humedad:</span>
                    <span>65%</span>
                </section>
            </span>
            <span class="flex items-center gap-2 w-1/2 justify-start">
                <section>
                    <mat-icon>air</mat-icon>
                </section>
                <section class="flex flex-col">
                    <span>Viento:12</span>
                    <span>Km/h</span>
                </section>
            </span>
        </section>

        <!-- Fila Inferior -->
        <section class="flex w-full gap-6">
            <span class="flex items-center gap-2 w-1/2 justify-start">
                <section>
                    <mat-icon>visibility</mat-icon>
                </section>
                <section class="flex flex-col">
                    <span>Visibilidad:10</span>
                    <span>Km</span>
                </section>
            </span>
            <span class="flex items-center gap-2 w-1/2 justify-start">
                <section>
                    <mat-icon>wb_sunny</mat-icon>
                </section>
                <section class="flex flex-col">
                    <span>UV:6</span>
                    <!-- <span>Km/h</span> -->
                </section>
            </span>
        </section>
        
    </section>

</section>