<section class="rounded-lg bg-card bg-gradient-to-br from-blue-500 to-blue-600 text-white border-0 shadow-xl w-[300px] h-[370px] p-6 ">

    <section class="flex flex-col gap-2 mb-4">

        <section class=" flex justify-between relative">
            <span class="text-3xl">Coquimbo </span>
            
            @defer (when DatosCiudad() ) {
                <img [src]="'/weather_icons/weather_icons/set04/big/' + DatosCiudad()?.data?.daily?.data?.[0]?.icon + '.png'"
                     [alt]="'Imagen de clima ' + DatosCiudad()?.data?.daily?.data?.[0]?.weather "datosciudaddatosciudad
                     class="w-18 h-18 inline-block absolute left-[170px]" />
            }            

        </section>
        
        <span>España</span>
        <span class="text-7xl"> {{DatosCiudad()?.data?.daily?.data?.[0]?.all_day?.temperature_max }}°c</span>        
        <span> {{ traduccionSummary()?.data }}</span>            
        

    </section>

    <mat-divider/>
    <!-- seccion inferior Card -->
    <section class="flex flex-col text-sm mt-4 gap-4 w-full ml-2"> 
       <!-- Fila Superior -->
        <section class="flex w-full gap-6">
            <span class="flex items-center gap-2 w-1/2 justify-start">
                <section>
                    <mat-icon>water_drop</mat-icon>
                </section>
                <section class="flex flex-col">
                    <span>Lluvia:</span>
                    <span>{{ DatosCiudad()?.data?.daily?.data?.[0]?.all_day?.precipitation?.total  }} % </span>
                </section>
            </span>
            <span class="flex items-center gap-2 w-1/2 justify-start">
                <section>
                    <mat-icon>air</mat-icon>
                </section>
                <section class="flex flex-col">
                    <span>Viento:</span>
                    <span>{{  DatosCiudad()?.data?.daily?.data?.[0]?.all_day?.wind?.speed }} Km/h</span>
                </section>
            </span>
        </section>

        <!-- Fila Inferior -->
        <section class="flex w-full gap-6">
            <span class="flex items-center gap-2 w-1/2 justify-start">
                <section>
                    <mat-icon>visibility</mat-icon>
                </section>
                <section class="flex flex-col">
                    <span>Nubosidad:</span>
                    <span>{{ DatosCiudad()?.data?.daily?.data?.[0]?.all_day?.cloud_cover?.total }} %</span>
                </section>
            </span>
            <span class="flex items-center gap-2 w-1/2 justify-start">
                <section>
                    <mat-icon>thermostat</mat-icon>
                </section>
                <section class="flex flex-col">
                    <span>T° Promedio</span>
                    <span>{{ DatosCiudad()?.data?.daily?.data?.[0]?.all_day?.temperature }} °c</span>
                </section>
            </span>
        </section>
        
    </section>

</section>