@import "tailwindcss";

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #e4e4e7;        
}

.mdc-text-field--filled {
  background-color: rgb(255, 255, 255) !important;
}

.mdc-text-field--filled:hover {
  background-color: rgba(0, 26, 255, 0.226) !important;
}

.mdc-text-field--filled.mdc-text-field--focused {
  background-color: rgb(255, 255, 255) !important;
}
